body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #fff;
  padding: 10px 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #FFA07A;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #ff7f50;
}


.classroom-container{
    width: 100%; 
    padding: 20px;
}


table {
    width: 100%; 
    height: auto; 
    max-width: 100%; 
    min-width: 95%;
    border-collapse: collapse; 
    margin: 0 auto; 
}


th, td {
    border: 1px solid #ccc; 
    padding: 10px 20px; 
    text-align: left; 
}